In [255]:
import csv
import time
import pandas as pd
import requests

In [256]:
url = "https://api.tfl.gov.uk/Mode/bus/Arrivals"
app_key = '132c49c6367b496ba654bc8092f0610a'
url_append = f'?app_key={app_key}' 
print(url + url_append)
res = requests.get(url + url_append)
print(res.status_code)
res.json()[5]

https://api.tfl.gov.uk/Mode/bus/Arrivals?app_key=132c49c6367b496ba654bc8092f0610a
200

{'$type': 'Tfl.Api.Presentation.Entities.Prediction, Tfl.Api.Presentation.Entities',
 'id': '341362019',
 'operationType': 2,
 'vehicleId': 'LA68DWW',
 'naptanId': '490013805E',
 'stationName': 'Southall / Trinity Road',
 'lineId': 'sl8',
 'lineName': 'SL8',
 'platformName': 'T',
 'direction': 'outbound',
 'bearing': '100',
 'tripId': '586545',
 'baseVersion': '20250704',
 'destinationNaptanId': '',
 'destinationName': 'White City',
 'timestamp': '2025-07-12T04:22:14.0441487Z',
 'timeToStation': 791,
 'currentLocation': '',
 'towards': 'Ealing',
 'expectedArrival': '2025-07-12T04:35:25Z',
 'timeToLive': '1970-01-01T00:00:00Z',
 'modeName': 'bus',
 'timing': {'$type': 'Tfl.Api.Presentation.Entities.PredictionTiming, Tfl.Api.Presentation.Entities',
  'countdownServerAdjustment': '00:00:00.5098573',
  'source': '2025-07-12T00:40:15.646Z',
  'insert': '2025-07-12T04:21:59.688Z',
  'read': '2025-07-12T04:22:00.201Z',
  'sent': '2025-07-12T04:22:14Z',
  'received': '0001-01-01T00:00:00Z'}}

In [257]:
pd.set_option('display.max_columns', None)
df = pd.DataFrame(res.json())
df.sort_values(by=['naptanId'], ascending=True)

,$type,id,operationType,vehicleId,naptanId,stationName,lineId,lineName,platformName,direction,bearing,tripId,baseVersion,destinationNaptanId,destinationName,timestamp,timeToStation,currentLocation,towards,expectedArrival,timeToLive,modeName,timing
9822,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",-2710012,1,LK62DVR,03700074,Langley Road,81,81,null,outbound,124,590009,20250704,,"Hounslow, Bus Station",2025-07-12T04:22:14.0441487Z,893,,Colnbrook,2025-07-12T04:37:07Z,2025-07-12T04:37:37Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
11860,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",1184497285,1,LK62DPE,03700075,Langley Road,81,81,null,inbound,304,590081,20250704,,Slough,2025-07-12T04:22:14.0597736Z,1545,,Slough,2025-07-12T04:47:59Z,2025-07-12T04:48:29Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
11824,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",-525795707,1,LK62DPE,03700076,Kaywood Close,81,81,null,inbound,302,590081,20250704,,Slough,2025-07-12T04:22:14.0597736Z,1524,,Slough,2025-07-12T04:47:38Z,2025-07-12T04:48:08Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
10122,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",1216062980,1,LK62DVR,03700077,Kaywood Close,81,81,null,outbound,132,590009,20250704,,"Hounslow, Bus Station",2025-07-12T04:22:14.0441487Z,956,,Colnbrook,2025-07-12T04:38:10Z,2025-07-12T04:38:40Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
11746,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",-1616970107,1,LK62DPE,03700078,Upton Court Road,81,81,null,inbound,308,590081,20250704,,Slough,2025-07-12T04:22:14.0597736Z,1488,,Slough,2025-07-12T04:47:02Z,2025-07-12T04:47:32Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12274,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",-2032529037,1,YX20OLN,4900OC456,Hail & Ride Warren Drive South,k1,K1,null,inbound,96,200328,20250704,,New Malden,2025-07-12T04:22:14.0597736Z,1806,,null,2025-07-12T04:52:20Z,2025-07-12T04:52:50Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
11881,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",-1722942821,1,YX19OVM,4900OC468S,Hail & Ride Culver Grove / Park High Sch,324,324,null,outbound,155,602736,20250704,,"Brent Cross, Tesco",2025-07-12T04:22:14.0597736Z,1556,,null,2025-07-12T04:48:10Z,2025-07-12T04:48:40Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
11197,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",1066755889,1,YX19OVN,4900OC469S,Hail & Ride Culver Grove / Park High Sch,324,324,null,inbound,335,602806,20250704,,"Elstree, Centennial Park",2025-07-12T04:22:14.0597736Z,1254,,null,2025-07-12T04:43:08Z,2025-07-12T04:43:38Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
2029,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",3079028,1,SN61CYH,4900R0049J,Abbots Lane,381,381,J,inbound,123,562873,20250704,,Peckham,2025-07-12T04:22:14.0441487Z,105,,Aldgate Or Rotherhithe,2025-07-12T04:23:59Z,2025-07-12T04:24:29Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
119,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",324498727,2,YY66PKA,null,Willesden Junction,277,277,null,inbound,0,527112,20250704,,"Dalston, Forest Road",2025-07-12T04:22:14.0441487Z,1620,,null,2025-07-12T04:49:14Z,1970-01-01T00:00:00Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...

In [258]:
# df[df['naptanId'] == '490G00009091']
unique_naptan_ids = list(df['naptanId'].unique())
'HUBNGW'in unique_naptan_ids

False

In [259]:
df[df['stationName'] == 'Marble Arch Station']

,$type,id,operationType,vehicleId,naptanId,stationName,lineId,lineName,platformName,direction,bearing,tripId,baseVersion,destinationNaptanId,destinationName,timestamp,timeToStation,currentLocation,towards,expectedArrival,timeToLive,modeName,timing
142,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",-170724338,2,LK18AFX,490000144P,Marble Arch Station,274,274,P,outbound,257,590732,20250704,,Lancaster Gate,2025-07-12T04:22:14.0441487Z,1028,,Lancaster Gate,2025-07-12T04:39:22Z,1970-01-01T00:00:00Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
2273,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",838748915,1,LK16HZL,490000144O,Marble Arch Station,n98,N98,O,inbound,257,557782,20250704,,"Willesden, Pound Lane",2025-07-12T04:22:14.0441487Z,121,,Maida Vale Or Paddington,2025-07-12T04:24:15Z,2025-07-12T04:24:45Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
8258,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",669338850,1,LF19FXG,490000144K,Marble Arch Station,n7,N7,K,outbound,79,519460,20250704,,Oxford Circus,2025-07-12T04:22:14.0441487Z,641,,Tottenham Court Road,2025-07-12T04:32:55Z,2025-07-12T04:33:25Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...
8296,"Tfl.Api.Presentation.Entities.Prediction, Tfl....",634522024,1,LK18AMV,490000144L,Marble Arch Station,274,274,L,inbound,78,590625,20250704,,Islington Angel,2025-07-12T04:22:14.0441487Z,646,,Baker Street Or Oxford Circus,2025-07-12T04:33:00Z,2025-07-12T04:33:30Z,bus,{'$type': 'Tfl.Api.Presentation.Entities.Predi...

In [260]:
# Read bus stops file to filter out naptanIds that already are registered
existing_naptanIds = []
with open("bus_stops.csv", "r", newline="") as csvfile:
     reader = csv.reader(csvfile)
     for row in reader:
         if row[0] == 'naptanId':
              pass
         else:
            existing_naptanIds.append(row[0])  

print(len(existing_naptanIds))
existing_naptanIds[0:25]

59510

['490000115M',
 '490001243Y',
 '490G00003049',
 '490G00003258',
 '490G00004001',
 '490G00004921',
 '490G00006068',
 '490G00006980',
 '490G00011214',
 '490G00011762',
 '490G00013249',
 '490G00013482',
 '490G00013654',
 '490G00015118',
 '490G00015350',
 '490G00016072',
 '490G00016077',
 '490G00018815',
 '490G000775',
 'HUBNGW',
 '490001264W',
 '490001273C',
 '490015081Q',
 '490G00004158',
 '490G00005598']

In [251]:
'HUBNGW'  in existing_naptanIds

True

In [269]:
# Generate NaptanIds to be included
unique_naptan_ids = list(df['naptanId'].unique())
naptan_ids = [i for i in unique_naptan_ids if i not in existing_naptanIds]
print(len(naptan_ids))
naptan_ids[0:10]

5500

['490013805E',
 '490006232W1',
 '490013939N',
 '490012633S',
 '490003352S',
 '490013517S',
 '490003044B',
 'null',
 '490014376C',
 '490015384V']

In [270]:
'490003648N' in unique_naptan_ids

True

In [ ]:
# Iterate over 1 by 1

api_errors = [] 
iteration = 0
time_sleep_iterator = 0 
batch_result = []

for naptan_id in naptan_ids:
    # API CALL FOR COORDINATES MAPPING
    station_map_url = f'https://api.tfl.gov.uk/StopPoint/{naptan_id}'
    res = requests.get(station_map_url)

    if res.status_code == 200:
        station = res.json()
        commonName = station['commonName']
        latitude =  station['lat']
        longitud = station['lon']
        batch_result.append((naptan_id,commonName,latitude,longitud))
        print(f'Iteration {iteration} ✅')
        iteration += 1
        
        if time_sleep_iterator == 5:
            time.sleep(5)
            time_sleep_iterator = 0
        else:
            time_sleep_iterator += 1
    
    else:
        print(f'Some errors in iteration {iteration} found, NaptanId: {naptan_id}, status code: {res.status_code}')
        api_errors.append(naptan_id)
        iteration += 1
        continue

# Append into CSV file
with open("bus_stops.csv", "a", newline="") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(batch_result)

In [263]:
# Split NaptanIds into differnet groups for api processing

# initial_index = 0 
# final_index = 20

# splited_naptan_ids = []

# while len(unique_naptan_ids) > 0: 
#     temporal_list = unique_naptan_ids[initial_index:final_index]
#     splited_naptan_ids.append(temporal_list)
#     for id in temporal_list:
#         unique_naptan_ids.remove(id)

In [264]:
# print(len(splited_naptan_ids))
# splited_naptan_ids

In [265]:
# for naptan_id_group in splited_naptan_ids[0:1]:
    
#     naptan_string = ','.join(naptan_id_group)
    
#     # API CALL FOR COORDINATES MAPPING
#     station_map_url = f'https://api.tfl.gov.uk/StopPoint/490009694E'
#     res = requests.get(station_map_url)
#     response_json = res.json()
#     print(response_json.keys())
#     for i in response_json.items():
#         print(i)
# print('--------')        
# print('--------')        
# print('--------')        
# print(response_json['lineGroup'][0]['naptanIdReference'])

In [ ]:
# api_errors = [] 
# iteration = 0
# time_sleep_iterator = 0 

# for naptan_id_group in splited_naptan_ids[0:2]:
#     naptan_id_group_index = 0
#     naptan_string = ','.join(naptan_id_group)
    
#     # API CALL FOR COORDINATES MAPPING
#     station_map_url = f'https://api.tfl.gov.uk/StopPoint/{naptan_string}'
#     print(station_map_url)
#     res = requests.get(station_map_url)

#     if res.status_code == 200:
#         batch_result = []
#         for station in res.json():
#             # naptanId = station['naptanId']
#             naptanId = naptan_id_group[naptan_id_group_index]
#             print(naptanId)
#             commonName = station['commonName']
#             latitude =  station['lat']
#             longitud = station['lon']
#             batch_result.append((naptanId,commonName,latitude,longitud))
#             naptan_id_group_index += 1
            
#         # Append into CSV file
#         with open("bus_stops.csv", "a", newline="") as csvfile:
#             writer = csv.writer(csvfile)
#             writer.writerows(batch_result)

#         iteration += 1

#         if time_sleep_iterator == 5:
#             time.sleep(5)
#             time_sleep_iterator = 0
#         else:
#             time_sleep_iterator += 1
#     else:
#         print(f'Some errors in iteration {iteration} found')
#         api_errors.append(naptan_id_group)
#         iteration += 1
#         continue

In [267]:
# api_errors

In [254]:
with open("bus_stops.csv", "a", newline="") as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(batch_result)